<div>
    <img src="<%=bookDetails.img_url%>" alt="">
    <h3>Title: <%=bookDetails.title %></h3>
    <p>Author: <%=bookDetails.author %></p>
    <p>Description: <%=bookDetails.description %> </p>
    <p>ISBN: <%=bookDetails.isbn %></p>
    <p>BookShelf: <%=bookDetails.shelf%></p>
</div>
